/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
}

/* FONTS */
.shantell-sans-handfont {
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "BNCE" 35, "INFM" 48, "SPAC" 0;
}

/* nav bar */
.nav_bar_header {
    background-color: rgb(20, 28, 37);
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

.menu_item {
    display: flex;
    font-weight: 100;
    font-size: small;
    border-right: solid white 1px;
    height: fit-content;
    padding: 2px;
    gap: 5px;
}

.last_menu_item {
    display: flex;
    font-weight: 100;
    font-size: small;
    height: fit-content;
    padding: 2px;
    gap: 5px;
}
.navigation_bar {
    align-items: center;
    height: 50px;
    display: flex;
    justify-content: flex-end;
}

/* login page */

.error_message_login {
    background-color: rgba(0, 0, 0, 0.587);
    margin-top: 20px;
}
.user_login_page {
    display: flex;
    background-image: url(../src/assets/images/TPTL_Home_page.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.user_login_container {
    border-radius: 20px;
    margin: auto;
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    flex-direction: column;
    width: fit-content;
    padding: 20px;
    height: 200px;
    gap: 10px;
}

.error_form {
    border: red 3px solid;
}

.login_labels {
    font-weight: bold;
    align-self: center;
}

.email_container,
.password_container {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

/* BORDER STLYE */
.audio_player,
.logo_box,
.advanced_filters,
.playlist_title_container {
    border: 1px solid grey;
    border-radius: 5px;
}
form {
    padding: 0px 20px;
}

.search_panel {
    height: 400px;
    border-radius: 20px;
}
.search_spacer_for_logo {
    padding: 30px 60px 0px 60px;
    height: 100px;
}
.logo_box {
    padding: auto;
    text-align: center;
    height: 100%;
    color: antiquewhite;
    font-weight: bolder;
    font-size: x-large;
}

/* SEARCH CONTAINER */

.search_container {
    display: flex;
    padding: 30px 60px 60px 60px;
}
.search_labels {
    color: whitesmoke;
}

.search_field_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 5px;
}

.digital_display_container {
    display: flex;
}

.lcd_screen {
    font-family: "Digital";
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 40px;
    width: 200px;
    padding: 0px 15px;
    background-color: black;
    color: rgba(168, 4, 4, 0.672);
}

.top_search_container {
    align-items: end;
    display: flex;
    gap: 20px;
}

.knob_filters {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.slider_filters {
    width: 200px;
}
.knob_filters > .search_labels,
.slider_filters > .search_labels {
    font-size: 0.5rem;
}

.search_type_selection {
    display: flex;
    width: 200px;
    flex-direction: column;
    gap: 15px;
}

.radio_button {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search_field_and_advanced {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.player_container {
    flex: 1;
}

.advanced_filters {
    display: flex;
    padding: 15px;
    justify-content: space-around;
}

/* Playlist creation */
.playlist_info_container {
    display: flex;
    height: 125px;
    width: 100%;
    background-image: url("./assets/images/Blank-Yellow-Rack.png");
    background-size: cover;
    justify-content: space-between;
}

.playlist_title_container {
    margin: 10px 30px;
}

.playlist_action_container {
    display: flex;
    flex-direction: column-reverse;
}

.create_button {
    height: 30px;
    margin: 5px 0px;
    background-color: orangered;
    color: white;
}

.playlist_info_data {
    display: flex;
    padding: 10px;
    flex-direction: column-reverse;
}
.track_counter {
    display: flex;
    align-items: center;
    height: 40px;
    gap: 5px;
}
.track_count_display {
    background-color: black;
    color: red;
    height: 30px;
    width: 40px;
    text-align: center;
    padding: 0px;
}
.track_count_number {
    padding: 0px;
}

.title_tape {
    background-image: url("./assets/images/masking_tape.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 90px;
    width: 300px;
    margin: 0px 20px;
}
.playlist_title_label {
    padding-left: 30px;
    padding-top: 10px;
}
.title_field {
    font-size: x-large;
    margin-top: 10px;
    margin-left: 30px;
    rotate: -3deg;
    background: transparent;
    border: none;
}

.audio_player {
    margin-left: 15px;
    padding: 20px;
    width: 200px;
    height: 215px;
}

/* Playlist columns */

.tracklist_width {
    display: flex;
    width: 540px;
    margin: auto;
    flex-direction: column;
}

.div_form_container {
    width: 1100px;
    margin: auto;
    padding: 10px 0px;
}

.div_playlists_container {
    /* Track size fixed */
    margin: auto;
    width: 1100px;
    display: flex;
    padding: 0px 20px 20px 20px;
}

.Spotify_list_div,
.create_list_div {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.recommendation-list,
.new-list {
    height: 250px;
    border-radius: 5%;
}

.track_div {
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: grey;
    border: 1px solid black;
    height: 125px;
}

.track_data {
    display: flex;
    height: 100%;
    padding: 15px 0px 15px 15px;
    gap: 10px;
    align-items: center;
}

.album_cover {
    height: auto;
    align-items: center;
}
.cover_image {
    width: 90px;
    background-size: cover;
}
.track_information {
    display: flex;
    flex-direction: column;
    width: 225px;
    padding-left: 5px;
    gap: 5px;
}

.artists_div {
    font-size: 0.7rem;
    display: flex;
}
.track_name {
    font-weight: bold;
    font-size: 1.2rem;
}

.extra_data {
    display: flex;
    padding-right: 15px;
    gap: 15px;
    font-size: 0.7rem;
}

.track_features_right_values,
.track_features_left_values {
    display: flex;
    gap: 5px;
    flex-direction: column;
}
.audio_feature {
    text-align: center;
    align-items: center;
}

.tempo_data {
    display: flex;
    flex-direction: column;
}

.action_labels {
    font-size: x-small;
    font-weight: bold;
}

.track_actions {
    display: flex;
    flex-direction: column;
    padding-right: 5px;
    padding-left: 5px;
    align-items: center;
    margin-left: auto;
}

.audio_player {
    size: 30px;
}

.add_button {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    align-items: baseline;
}

.action_button_handler {
    background: transparent;
    border: none;
}

/* Spotify Login Page */
.spotify_login_page_background {
    background-image: url(../src/assets/images/Spotify_login_page.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.login_container {
    margin: 39vw 38vw 0px 36vw;
    border-radius: 5px;
    border: white solid 1px;
    background-color: black;

    height: 176px;
}

.login_button {
    padding-top: 15px;
}

.login_text {
    padding-top: 15px;
}
.login_username {
    font-size: x-large;
    padding-top: 10px;
    text-align: center;
    color: white;
}

.spotify-login-button {
    display: inline-block;
    background-color: #1db954;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
.spotify-login-button:hover {
    background-color: #169c41;
}

/* ---- User Playlist table ---- */
.user_playlist_actions {
    display: flex;
    gap: 5px;
}

/* CSS */
.button-88 {
    margin: auto;
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: #ad5389;
    background: linear-gradient(
        0deg,
        rgba(20, 167, 62, 1) 0%,
        rgba(102, 247, 113, 1) 100%
    );
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
    letter-spacing: 0.05em;
    border-radius: 20em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-88:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.button-88:active {
    box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}
